body { 
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: linear-gradient(to bottom, #87ceeb, #002e5d);
	color: #333;
}

header {
	background-color: #333;
	color: white;
	padding: 1em 0;
	text-align: center;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav ul li {
	color: white;
	display: inline;
	margin: 0 15px;
}

nav ul li a {
    color: white; /* Explicitly sets the link text color to white */
    text-decoration: none; /* Removes default underline */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

nav ul li a:hover {
	color: #87ceeb; /*A light blue color from body background for contrast */
}

section {
	padding: 20px;
	margin: 10px auto;
	max-width: 800px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}